@tailwind base;
@tailwind components;
@tailwind utilities;

.search-results::-webkit-scrollbar {
    display: none;
}

.search-results {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}